.no-data-bg-text {
  color: #a8a8a8;
  font-size: 48px;
}

h1, h2, h3, h4, h5, h6 {
  display: inline;
}

.dataTable thead {
  background-color: lightsteelblue;
}

.systemStatusInfoColor {
  color: green;
}

.systemStatusWarnColor {
  color: #f9eb1e;
}

.systemStatusErrorColor {
  color: red;
}

.requiredField::after {
  content: "*";
  color: red;
  padding-left: 3px;
}

.help-title {
  font-weight: 500;
  border-bottom: 1px solid lightgrey;
}

.disabledBackground {
  background-color: #e9ecef !important;
  opacity: 0.75 !important;
}

// The following are used by split.js
.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=')
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
}

// Used by the Notifications and SystemStatus panels
.panelShadowBox {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.panelShadowBox:before, .panelShadowBox:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 100px / 10px;
}

.panelShadowBox:after {
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg);
}

